{% extends 'todo_list/base.html' %}

{% block title %}
TODO #{{ object.pk}}
{%endblock title %}

{% block body %}
<h3>ToDo</h3>
<div>
  <div>Title: <strong>{{ object.title }}</strong></div>
  {% if object.description %}
  <div>Description: <strong>{{ object.description }}</strong></div>
  {% endif %}
  <div>Done: <strong>{{ object.done }}</strong></div>
  <div>Execute time: <strong>{{ object.execute_time }}</strong></div>
</div>
<ul>
  <li><a href="{% url 'todo_list:update' object.pk %}">Update ToDo Item</a></li>
  <li><a href="{% url 'todo_list:delete' object.pk %}">Delete ToDo Item</a></li>
</ul>

{% endblock body %}
